[user]
    name = Piotr Staniów
    email = staniowp@gmail.com
[push]
    default = current
[core]
    autocrlf = false
[alias]
    co = checkout
    ci = commit
    st = status
    sh = push
    shu = push -u
    pu = pull
    br = branch
    me = merge
    mea = merge --abort
    fe = fetch
    pi = cherry-pick
    pick = cherry-pick
    bi = bisect
    rh = reset --hard
    rhe = reset HEAD
    ap = add -p
    rbi = rebase --interactive
    rbc = rebase --continue
    rba = rebase --abort
    ss = stash
    sa = stash apply
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p\n
